@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  height: 100vh;
  background-color: #393E46;
}

* {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

.search {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/img/programming-photo.jpg");
  background-position: center;
  background-size: cover;
}

.search__box {
  display: flex;
  border-radius: 10px;
  background-color: #EEEEEE;
  border: 2px solid #929AAB;
}

p {
  padding: 2%;
  color: #393E46;
}

p input {
  width: 10%;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #393E46;
  background-color: #F7F7F7;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

button {
  padding: 0 2.5%;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  border: none;
  color: #F7F7F7;
  background-color: #393E46;
}

button:hover {
  background-color: #646a75;
}

#response {
  background-color: #393E46;
  color: #EEEEEE;
}